
  .react-calendar-heatmap .color-filled {
    fill: #CAF0F8;
  }
  .react-calendar-heatmap .color-github-0 {
    fill: #eeeeee;
  }
  .react-calendar-heatmap .color-github-1 {
    fill: #CAF0F8;
  }
  .react-calendar-heatmap .color-github-2 {
    fill: #CAF0F8;
  }
  .react-calendar-heatmap .color-github-3 {
    fill: #CAF0F8;
  }
  .react-calendar-heatmap .color-github-4 {
    fill: #90E0EF;
  }
  

  .react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
  }

  .landingLogin{
    text-align: center;
   
  }

  .Landing{
    text-decoration: underline;
    background-image: linear-gradient(
      transparent 50%,
      #e1fffe 50%,
      #b0f8ff 85%,
      transparent 85%,
      transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}
@keyframes animatedBackground {
  to {
      background-size: 100% 100%;
  }
}

  .Calendar{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}